@model List<nMappers.Models.asiTablesListModel>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <ul>
            @foreach (var item in Model)
            {
                <li>
                    @Html.ActionLink(item.tableName, "TableDetails?Name=" + Convert.ToString(item.tableName), "asiTables")
                </li>
            }
        </ul>
    </div>
</body>
</html>
