@model List<nMappers.Models.asiTablesListModel>
<div>
    <ul>
        @foreach (var item in Model)
        {
            <li>
                @Html.ActionLink(item.tableDetails, "TableDetails?Name=" + Convert.ToString(item.tableDetails), "asiTables")
            </li>
        }
    </ul>
</div>